body {
    background-color:  #2196F3;
    -webkit-animation: ChangeColor 20s infinite;
    animation: ChangeColor 20s infinite;
    overflow-x: hidden;
}
@keyframes  ChangeColor {
   10% { background-color: #2196F3; } 
   20% { background-color: #2979FF; } 
   30% { background-color: #2196F3; } 
   40% { background-color: #1E88E5; }
   50% { background-color: #1976D2; }
   60% { background-color: #1565C0; } 
   70% { background-color: #1E88E5; } 
   80% { background-color: #0D47A1; } 
   90% { background-color: #2979FF; }
   100% { background-color: #2196F3; }  
}
#loader {
    z-index: 1001;
}
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}
#loader-wrapper .loader-section.section-left {
    left: 0;
}
#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}
 
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}